@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background: #192226 !important;
}

.navbar-inverse {
  background: #222b31 !important;
  border-bottom: 4px solid #ee445f !important;
}

.navbar-brand {
  font: 12px Lato !important;
  margin-right: 200px;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 2px;
  margin-top: 2px;
}

.navbar-collapse ul{
    margin-left: 100px;
}

.nav {
  margin-bottom: 0px;
}

a {
  font: 500 11px Lato;
  letter-spacing: 2px;
  padding: 16px !important;
  color: #a3bfc6 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
}

a:hover {
  color: #fff !important;
}

ul{
    margin-left: 180px;
}

li {
  position: relative;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
  background: transparent !important;
}

.icon-bar {
  background: #a3bfc6 !important;
}


.hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ee445f !important;
  z-index: 0;
  opacity: 0;
}

@media (max-width: 767px) {
  .nav {
    padding-bottom: 20px;
  }
  a {
    padding: 12px !important;
  }
}

@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
}
