@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-family: "Lato", sans-serif;
  --nav-background: #040303;
  --nav-font-color: #dddddd;
  --background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color) !important;
}

.navbar-inverse,
.dropdown-menu {
  background-color: var(--nav-background) !important;
}

nav .navbar-brand,
nav .nav-link,
.dropdown-item {
  color: var(--nav-font-color);
}

nav .navbar-brand {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  line-height: 60px;
  font-size: 25px;
}

nav .nav-item a {
  letter-spacing: 2px;
}

.row, .qty{
margin: 20px 0px;
}

form .name {
  margin: 15px 0px;
}

form .qty {
  margin: 15px 0px;
}

form .fixed-bottom {
  justify-content: center;
  align-items: center;
}


/* respnsive mobile UI */

@media (max-width: 767px) {
  .nav-link {
    padding: 12px;
    border-bottom: 1px solid #3a3845;
    margin: 8px 0px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
}
