@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-family: 'Lato', sans-serif;
  --nav-background: #1572A1;
  --nav-font-color: #EFDAD7;
  --background-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color) !important;
}

.navbar-inverse, .dropdown-menu{
  background-color: var(--nav-background) !important;
}

nav .navbar-brand, nav .nav-link, .dropdown-item{
  color: var(--nav-font-color);
}



nav .navbar-brand{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  line-height: 60px;
  font-size: 25px;
}

nav .nav-item a{
  text-align: center;
  letter-spacing: 2px;
}



.form-body{
  margin-top: 30px;
}


form .name{
  margin: 15px 0px;
}

form .qty{
  margin: 15px 0px;
}

form .fixed-bottom{
  justify-content: center;
    align-items: center;
}












/* .navbar-inverse {
  background: #000000 !important;
}

.navbar-brand {
  font-family: Lato;
  font-size: 12px;
  margin-right: 200px;
  text-transform: uppercase;
  color: var(--background-color);
  letter-spacing: 2px;
  font-weight:600;
  margin-top: 2px;
}


.nav {
  margin-bottom: 0px;
}



a {
  font-family: var(--font-family)
  font-size: 11px;
  letter-spacing: 2px;
  padding: 16px;
  color: #a3bfc6;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
}

a:hover {
  color: rgb(255, 255, 255);
}



li {
  position: relative;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none;
  border: none;
}

.navbar-inverse .navbar-toggle:hover {
  background: transparent;
}

.navbar-inverse .navbar-toggle:focus {
  background: transparent;
}

.navbar-inverse .navbar-toggle:active {
  background: transparent;
}

.icon-bar {
  background: #a3bfc6;
}

.hover {
  display: block;
  position: absolute;
  background: #ee445f;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: 0;
} */

/* @media (max-width: 767px) {
  .nav {
    padding-bottom: 20px;
  }
  a {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
} */
